.quienes-somos-container {
    max-width: 800px;
    margin: 100px;
    padding: 20px;
}

.header {
    text-align: center;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
}

.sectionQuienesSomos {
    margin-top: 20px;
    text-align: justify;
}

.perfil {
    display: inline-block;
    align-items: center;
    margin-inline: 100px;
}