.pet-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin: 100px;

}

.input {
  position:fixed;
  margin-top: 15px;
  background-color: rgb(241, 248, 250);
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
}

.input:hover {
  background-color: rgb(222, 231, 234);
  border: none;
}

.container {
  justify-content: center;
  margin-top: 150px;
  border: none;
}

