.pet-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin: 100px;
}

input {
  margin-top: 100px;
  width: 90vh;
  height: 50px;
  border: none;

}

.container {
  justify-content: center;
  border: none;
}