a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}

a:hover {
  color: #2c2c31;
}

body {
  margin: 0;
  background-color: #ffffff;

}

.leaflet-container {
  width: 450px;
  height: 350px;
  font-size: 15px;
}